<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_webpages</h1>
        <table border="3px">
            <tr>
                <th>topic_name</th>
                <th>name</th>
                <th>url</th>
            </tr>
        {% for w in webpages %}

            <tr>
                <td>{{w.topic_name}}</td>
                <td>{{w.name}}</td>
                <td>{{w.url}}</td>
            </tr>

        {% endfor %}

















        </table>
    </center>
</body>
</html>